
.game-grid {
  width: 600px;
  height: 600px;
  margin: 0;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  
  app-cell {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
  }
}

.game-over {
  h1 { color: #999 };
  color : #ccc;
  font-weight: bold;
  font-family: Courier New, Courier, monospace;
}