html, body, app-root {
  background: #000;
  height: 100%;
}

header {
  background: #000;
  text-align: center;
  
  h1 {
    color: #fff;
  }
}

content {
  text-align: center;
  background: #000;
}