html, body, app-root {
  background: #000!important;
  height: 100%;
  font-weight: bold;
  font-family: Courier New, Courier, monospace;
}
html {
  position: absolute;
  top: 0;
  bottom: 0;
}

header {
  background: #000;
  text-align: center;
  
  h1 {
    color: #999;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
  }
}

content {
  text-align: center;
  background: #000;
}