
<div class="start-menu">
  <div class="description">
    <p>In this game, you take the role of a malware which emulates nodes of its target system in order to infect and gain control over it.</p>
    <p>The nodes are represented by different colored blocks. <br/>
    The malware (you) starts off each level in the colorless node at the bottom left of the grid</p>
    <p>Select the color you would like to emulate from the control buttons below the grid. <br/> 
      Selecting a color switches all infected nodes to the chosen color,
      and infects adjacent nodes which share that color</p>
    <p>Each level you are given a number of tries to infect the entire system. <br/>
      Every five levels, a new color is added.<br />
      Point bonuses are given for remaining tries, and for infecting larger numbers of nodes. <br/>
    </p>
    <p>When you have zero tries remaining, <br />
      the systems' anti-malware systems has caught up with you, and the game is over.</p>
    <p>The game is currently in pre-alpha, high-score updating does not work. <br/>
    However, the game is playable - it currently has 15 levels and working sound. <br/>
    On the roadmap are a fix for high scores, and an options menu to adjust or turn off audio.</p>
    
  </div>
  <div class="menu-buttons">
     <app-menu-button *ngFor="let button of model" [text]="button.text" [url]="button.url"></app-menu-button>
  </div>
</div>
